h1{
  animation-name: rainbowtext;/*//the name coresponds to the keyframe name(to link them)*/
  animation-duration:2s;/*//duration of animation*/
  animation-timing-function:linear;/*//changes type such as ease-in*/
  animation-delay:0s; /*no delay as soone a page runs.*/
  animation-iteration-count: infinite;/*//how many times the keyframe runs*/
}

@keyframes rainbowtext{
  0%{
    color:red;
    font-size:20px;//use scale rather than font-size
  }
   25%{
    color:orange;
/*     font-size:20px; */
  }
   50%{
    color:yellow;
    font-size:40px;
  }
   75%{
    color:green;
/*     font-size:20px; */
  }
   100%{
    color:blue;
    font-size:20px;
  }
}